<%- include('../partials/header') %>
    <h1>ALL VET APPOINTMENTS</h1>
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/vets">All Vets</a></li>
    </ul>
    <table id="show-list">
        <thead>
            <tr>
                <th>Date</th>
                <th>Cat</th>
                <th>Vet</th>
                <th>Foster Carer</th>
                <th>Reason</th>
                <th>Edit / Delete</th>
            </tr>
        </thead>
        <tbody>
            <% appts.forEach(function(a) { %>
                <tr>
                    <td>
                        <%= a.date.toLocaleDateString() %>
                    </td>
                    <td><a href="/cats/<%= a.cat._id %>">
                            <%= a.cat.name %>
                        </a></td>
                    <td>
                        <a href="/vets/<%= a.vet._id %>">
                            <%= a.vet.name %>
                        </a>
                    </td>
                    <td><a href="/users/<%= a.cat.carer._id %>">
                            <%= a.cat.carer.name %>
                        </a></td>
                    <td>
                        <%= a.reason %>
                    </td>
                    <td>
                        <a href="/cats/<%= a.cat._id %>">Edit / Delete on Cat Page</a>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

<%- include('../partials/footer') %>