<%- include('../partials/header') %>
    <h1>ALL VET APPOINTMENTS</h1>
    <table id="show-list">
        <thead>
            <tr>
                <th>Date</th>
                <th>Cat</th>
                <th>Vet</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            <% appts.forEach(function(a) { %>
                <tr>
                    <td>
                        <%= a.date.toLocaleDateString() %>
                    </td>
                    <td> <a href="/cats/<%= a.cat._id %>">
                            <%= a.cat.name %>
                        </a>
                    </td>
                    <td>
                        <a href="/vets/<%= a.vet._id %>">
                            <%= a.vet.name %>
                        </a>
                    </td>
                    <td>
                        <%= a.reason %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>