<%- include('../partials/header') %>
    <h1>ALL VETS</h1>
    <table id="show-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <% vets.forEach(function(v) { %>
                <tr>
                    <td><a href="/vets/<%= v._id %>">
                            <%= v.name %>
                        </a></td>
                    <td>
                        <%= v.address %>
                    </td>
                    <td><%= v.phone %></td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>