<%- include('../partials/header') %>
    <h1>ALL FOSTER CARERS</h1>
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li>All Foster Carers</li>
    </ul>
    <div class="filtering-links">
        <a href="/users" class="button-link-main active-filter">ALL</a>
        <a href="/users/active" class="button-link-main">ACTIVE</a>
        <a href="/users/inactive" class="button-link-main">INACTIVE</a>
    </div>
    <table id="show-list">
        <thead>
            <tr>
                <th>Avatar</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(u) { %>
                <tr>
                    <td><a href="/users/<%= u._id %>"><img src="<%= u.avatar %>" class="user-image"></a></td>
                    <td><a href="/users/<%= u._id %>"><%= u.name %></a></td>
                    <td><%= u.status %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

<%- include('../partials/footer') %>