<%- include('../partials/header') %>
    <h1><%= user.name %></h1>

    <section id="user-show-page">
        <div class="show-user-details">
            <h3>Foster Carer Details</h3>
            <div>
                <strong>Role:</strong>
                <%= user.role %>
            </div>
            <div>
                <strong>Status: </strong>
                <%= user.status %>
            </div>
        </div>
        <% if (user._id.toString() === loggedInUserId.toString()) { %>
        <div class="show-user-buttons">
            <a href="/users/<%= user._id %>/edit" class="edit-user-link">EDIT / UPDATE FOSTER CARER DETAILS</a>
        </div>
        <% } else { %>
            <h5>Not allowed to edit this user</h5>
            <% } %>
        <div class="show-user-cats">
            <h3><%= user.name %>'s Cats</h3>
            <% if (catsInCare.length) { %>
                <table id="show-list">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% catsInCare.forEach(function(c) { %>
                            <tr>
                                <td><a href="/cats/<%= c._id %>">
                                        <%= c.name %>
                                    </a></td>
                                <td>
                                    <%= c.status %>
                                </td>
                                <td> <img src="<%= c.image %>"> </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <h5>No Cats Yet</h5>
                <% } %>
        </div>
    </section>

    <%- include('../partials/footer') %>