<%- include('../partials/header') %>
    <h1>ALL CATS</h1>
    <div class="all-cats">
        <% cats.forEach(function(c) { %>
            <div class="cat">
                <div class="cat-image">
                    <a href="/cats/<%= c._id %>"><img src="<%= c.image %>"></a>
                </div>
                <div class="cat-name">
                    <a href="/cats/<%= c._id %>"><%= c.name %></a>
                </div>
            </div>
        <% }) %>
    </div>

<%- include('../partials/footer') %>