<%- include('../partials/header') %>
    <h1><%= cat.name %></h1>

    <section id="cat-show-page">
        <div class="show-cat-image">
            <img src="<%= cat.image %>">
        </div>
        <div class="show-cat-details">
            <h3>Cat Details</h3>
            <div>
                <strong>Foster Carer: </strong><%= fosterCarerName %>
            </div>
            <div>
                <strong>Status: </strong>
                <%= cat.status %>
            </div>
            <div>
                <strong>Intake Date: </strong><%= cat.intake %>
            </div>
            <div>
                <strong>Gender: </strong><%= cat.gender %>
            </div>
            <div>
                <strong>Birth Date: </strong><%= cat.birthDate %>
            </div>
            <div>
                <strong>Colour: </strong>
                <%= cat.colour %>
            </div>
            <div>
                <strong>Health Status: </strong>
                <%= cat.healthStatus %>
            </div>
            <div>
                <strong>Microchip Number: </strong>
                <%= cat.microchipNumber %>
            </div>
            <div>
                <strong>Vaccinated: </strong>
                <%= cat.vaccinated %>
            </div>
            <div>
                <strong>Desexed: </strong>
                <%= cat.desexed %>
            </div>
            <div>
                <strong>Adopt Date: </strong>
                <%= cat.adoptDate %>
            </div>
            <div class="show-cat-buttons">
                <form id="add-user-to-cat" action="/cats/<%= cat._id %>/users" method="POST">
                    <select name="user">
                        <%- users.map(u=>
                            `<option value="${u._id}">${u.name}</option>`
                            ).join('') %>
                    </select><br>
                    <button type="submit">Add / Update Foster Carer</button>
                </form><br>
                <a href="/cats/<%= cat._id %>/edit" class="edit-cat-link">EDIT / UPDATE CAT</a>
                <form method="POST" action="/cats/<%= cat._id %>?_method=DELETE">
                    <div>
                        <input id="name-delete" type="submit" name="name" value="Remove <%= cat.name %>" />
                    </div>
                </form>
            </div>
        </div>
        <div class="show-cat-vet-appts">
            <h3>Vet Appointments</h3>
        </div>
        <div class="show-cat-notes">
            <h3>Notes</h3>
            <form id="add-note-form" method="POST" action="/cats/<%= cat._id %>/notes">
                <label>Note:</label>
                <textarea name="content"></textarea>
                <input type="submit" value="Add Note">
            </form>
            <% if (cat.notes.length) { %>
                <table>
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Date</th>
                            <th>Note</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cat.notes.forEach(function(n) { %>
                            <tr>
                                <td class="note-user"><img alt="avatar" src="<%= n.userAvatar %>"
                                        referrerpolicy="no-referrer">
                                    <%= n.userName %>
                                </td>
                                <td>
                                    <%= n.createdAt.toLocaleDateString() %>
                                </td>
                                <td>
                                    <%= n.content %>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <% } else { %>
                    <h5>No Notes Yet</h5>
                    <% } %>

        </div>
    </section>


<%- include('../partials/footer') %>